<div>
    <h1>ACTIONS</h1>
    <div>
        <ul>
            <li>
                <a href="/notes/create">CREATE NOTE</a>
            </li>
        </ul>
    </div>
    <hr />
    <div>
        <h3>{{ title }}</h3>
        {{#each notes}}
        <ul>
            <li>
                <form action="/notes/edit" method="POST">
                    <button type="submit" value="{{ this.id }}" name="noteId">[-]</button>
                </form>
                <form action="/notes/delete/note" method="POST">
                    <button type="submit" value="{{ this.id }}" name="noteId">X</button>
                </form>
                <label>{{ this.id }} - {{ this.note }}</label>
            </li>
        </ul>
        {{/each }}
    </div>
</div>
<style>
    ul {
        list-style-type: none;
    }

    form {
        display: inline-block;
    }
</style>
