<div>
    <h1>ACTIONS</h1>
    <div>
        <ul>
            <li>
                <a href="/notes/create">CREATE NOTE</a>
            </li>
        </ul>
    </div>
    <hr />
    <div>
        <h3>{{ title }}</h3>
        <form action="/notes/delete/note" method="POST">
            <div>
                <button type="reset">RESET</button>
                <button name="del">DELETE</button>
            </div>
            {{#each notes}}
                <ul>
                    <li>
                        <input type="checkbox" name="noteId" value="{{ this.id }}">
                        <fieldset>
                            <legend>{{ this.creationTime }} - {{ this.lastModification }}</legend>
                            <a href="/notes/view/{{ this.id }}">{{ this.note }}</a>
                        </fieldset>
                    </li>
                </ul>
            {{/each }}
        </form>
    </div>
</div>
<style>
    ul {
        list-style-type: none;
    }

    form {
        display: inline-block;
    }
</style>
