<div>
    <form action="/notes/edit" method="POST">
        <small>Id: {{ note.id }}</small>
        <p>Created: {{ note.creationTime }}</p>
        <p>Last modification: {{ note.lastModification }}</p>
        <div>
            <input type="hidden" name="noteId" value="{{ note.id }}">
            <button type="submit">EDIT</button>
        </div>
        <p>{{ note.note }}</p>
    </form>
</div>